<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <form method="GET" action="/search">
        <input type="text" name="search"/> <button type="submit">Search</button>
    </form>

    <form th:method="GET" action="/selectBalloon">

        <h2>Choose balloon color:</h2>
        <h3 style="background-color: aqua" th:if="${error!= null}" th:text="error"></h3>
        <span th:each="item : ${list}">
            <input type="radio" name="color" th:value="${item.getName()}" th:text="${item.getName()}">
            <br/>
        </span>
    <br/>
    <button type="sumbit">Submit</button>
    </form>
</main>
</body>
</html>